$paddingTop: 15px;
$paddingBottom: 10px;
$paddingLeft: 15px;
$paddingRight: 15px;

.navigation {
  width: 252px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;

  .navigation-block,
  .navigation-top {
    background: #2b3448;
  }

  .hamburger-container {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    transition: all 0.5s;
    border-bottom: 1px solid #8e9fa8;

    img:first-child {
      margin-right: 27px;
    }

    cursor: pointer;
  }

  .search-container {
    flex: 0 0 50px;
    padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
    color: #959aa4;
    width: 252px;
    height: 35px;
    transition: all 0.5s;

    .nav-search {
      border: none;
      background: none;
      outline: none;
      width: 100%;
      color: #959aa4;
      border-radius: 0px;
    }

    i {
      margin-right: 18px;
    }
  }

  .nav-item-container {
    flex: 1 1 10px;

    &::-webkit-scrollbar {
      background: #2b3448;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #959aa4;
    }

    * {
      box-sizing: content-box;
    }

    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;

    .nav-item {
      color: #959aa4;
      cursor: pointer;
      width: 252px;

      .main-content {
        padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
        display: flex;
        //transition: all 0.5s;
        align-items: center;

        &.active {
          color: #fff;
        }

        .item-icon {
          width: 20px;
          margin-right: 20px;
        }

        span {
          width: calc(100% - 46px);
          //transition: all 0.5s;
        }

        .item-collapse {
          width: 6px;
          //transition: all 0.5s;
        }
      }

      .sub-content {
        background: #1f2635;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        //transition: all 0.5s;
        .nav-sub-item {
          padding: 15px 0;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &.active {
            color: #fff;
          }
        }
      }
    }
  }
}

.navigation.navigation-collapse {
  // position: relative;
  width: 50px;
  transition: all 0.5s;

  .hamburger-container {
    // width: 54px;
  }

  .search-container {
    height: 25px;

    i {
      left: 15px;
    }

    overflow: hidden;
  }

  .nav-item-container {
    // width: 50px;

    transition: all 0.5s;

    .nav-item {
      .main-content {
        padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
      }
    }
  }
}

@media (orientation: portrait) {
  .navigation {
    width: 100%;
    position: fixed;
    z-index: var(--z-index-menu);
    height: 100%;
    top: 0;

    .navigation-block {
      width: 80%;
      max-width: 400px;
    }
  }

  .navigation,
  .navigation.navigation-collapse {
    width: 100%;
  }
  .navigation.navigation-collapse {
    height: var(--vertical-menu-height);
  }

  .navigation.navigation-collapse > div.navigation-block {
    display: none;
  }

  .navigation .nav-item-container {
    .nav-item {
      width: 100%;
    }
  }
}

.centerVH {
  cursor: pointer;
}

.user-container {
  flex: 0 0 50px;
  height: 75px;
  background: #41495b;
  position: relative;

  .action-container {
    background: #41495b;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;

    .action {
      padding: 10px;

      &:hover {
        background: #fff;
      }
    }
  }

  flex: 0 0 50px;
  height: 75px;
  background: #41495b;
  position: relative;

  .staff-name {
    p {
      margin-bottom: 0;

      &.userCode {
        color: #fff;
      }
    }
  }

  .userProfile {
    padding: 0 5px !important;

    img {
      width: 100%;
      border: 2px solid #fff;
      border-radius: 100%;
    }
  }

  .tooltip {
    border-left: 1px solid #eee;
    position: relative;
    display: inline-block;
    opacity: 1;

    .tooltiptext {
      visibility: hidden;
      width: 80px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;

      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -50px;
    }

    i {
      font-size: 20px;
      color: #fff;
      margin: 0 10px;
      cursor: pointer;
    }
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: ' ';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}

.nav-item.fixed-hover:hover .sub-content {
  height: auto !important;
  position: fixed !important;
  width: 200px;
  z-index: var(--z-index-menu);
  margin-top: -30px;
  margin-left: 50px;
}

.nav-sub-item:hover {
  background-color: #1f2635;
  color: #fff;
}

::ng-deep .action-container.flag-open {
  padding-left: 30px !important;
}

.dangxuat:hover {
  background-color: unset;
  color: #cc0f1a;
  text-transform: uppercase;
}

.dangnhap:hover {
  background-color: unset;
  color: #43ac6a !important;
  text-transform: uppercase;
}

.icon-hover:hover {
  color: #1b81d7 !important;
}
