<div class="navigation" [ngClass]="{'navigation-collapse':isClose}" id="app_navigation">
    <div class="navigation-top  hamburger-container" (click)="toggleNavigation()">
        <i class="pi pi-bars icon-hover" style="color: #ffffff; font-size: 1.5em;"></i>
        &nbsp;&nbsp;<span *ngIf="!isClose" style="color: #ffffff;">{{'Quản lý thiết bị'}}</span>
    </div>
    <div class="navigation-top  hamburger-container" routerLink="/" pTooltip="Trang chủ">
        <i class="pi pi-home icon-hover" style="color: #ffffff; font-size: 1.5em;"></i>
        &nbsp;&nbsp;<span *ngIf="!isClose" style="color: #ffffff;">{{'Trang chủ'}}</span>
    </div>
    <div [ngSwitch]="isAuthenticated()" class="navigation-top  hamburger-container" routerLink="device" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [pTooltip]="'Thiết bị'">
        <i class="pi pi-desktop icon-hover" style="color: #ffffff; font-size: 1.5em;"></i>
        &nbsp;&nbsp;<span *ngIf="!isClose" style="color: #ffffff;">{{'Thiết bị'}}</span>
    </div>
    <div class="navigation-block  nav-item-container" [ngSwitch]="isAuthenticated()">

    </div>
    <div class="navigation-block  user-container"  [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li *ngSwitchCase="true">
                <div style="display: flex; color: #ffffff" class="dangxuat">
                    <div (click)="toggleNavigation()" class="d-inline-block userProfile {{ isClose?'col-12':'col-3'}}">
                        <img src="../../../content/images/person.png" alt="">
                    </div>
                    <div style="display: inline-block; width: 100%" *ngIf="!isClose">
                        <a class="dropdown-item dangxuat" id="logout" (click)="logout()">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            &nbsp;&nbsp;<span>Đăng xuất</span>
                        </a>
                    </div>
                </div>
            </li>
            <li *ngSwitchCase="false">
                <a class="dropdown-item dangnhap" (click)="login()" id="login" style="background-color: unset; color: #ffffff">
                    <i class="pi pi-sign-in" style="color: #ffffff; font-size: 1.5em;"></i>
                    &nbsp;&nbsp;<span *ngIf="!isClose">Đăng nhập</span>
                </a>
            </li>
        </ul>
    </div>
</div>
