<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="device">
            <h2><span jhiTranslate="quanlythietbiApp.device.detail.title">Device</span> {{ device.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="quanlythietbiApp.device.nameDevice">Name Device</span></dt>
                <dd>
                    <span>{{ device.nameDevice }}</span>
                </dd>
                <dt><span jhiTranslate="quanlythietbiApp.device.codeDevice">Code Device</span></dt>
                <dd>
                    <span>{{ device.codeDevice }}</span>
                </dd>
                <dt><span jhiTranslate="quanlythietbiApp.device.producer">Producer</span></dt>
                <dd>
                    <span>{{ device.producer }}</span>
                </dd>
                <dt><span jhiTranslate="quanlythietbiApp.device.codeProducer">Code Producer</span></dt>
                <dd>
                    <span>{{ device.codeProducer }}</span>
                </dd>
                <dt><span jhiTranslate="quanlythietbiApp.device.userId">User Id</span></dt>
                <dd>
                    <span>{{ device.userId }}</span>
                </dd>
                <dt><span jhiTranslate="quanlythietbiApp.device.status">Status</span></dt>
                <dd>
                    <span>{{ device.status }}</span>
                </dd>
                <dt><span jhiTranslate="quanlythietbiApp.device.startDateIm">Start Date Im</span></dt>
                <dd>
                    <span>{{ device.startDateIm }}</span>
                </dd>
                <dt><span jhiTranslate="quanlythietbiApp.device.startUserUse">Start User Use</span></dt>
                <dd>
                    <span>{{ device.startUserUse }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/device', device.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
