::ng-deep {
  .ui-table .ui-paginator-bottom {
    border: 1px solid #ccc;
    border-top: none;
    margin: 0;
    text-align: right;
    width: 100%;
    padding: 5px;
  }

  .ui-paginator-bottom p-dropdown {
    display: inline-block;
  }

  body .ui-paginator-bottom.ui-paginator .ui-dropdown .ui-dropdown-label {
    padding-left: 0;
    padding-right: 1.5em;
    height: 20px;
  }

  body .ui-table-scrollable-header.ui-widget-header {
    border: none;
  }

  body .ui-table .ui-table-thead > tr > th {
    font-size: 11px;
    font-weight: 700;
    color: #007cbb;
    text-align: left;
    background-color: #d9e4ea;
    border-color: #ccc;
    padding: 0.571em 0.857em;
    border-bottom: none;
  }

  body .ui-table .ui-sortable-column.ui-state-highlight {
    color: #007cbb;
    background-color: #d9e4ea;
  }

  body .ui-table .ui-table-tbody > tr > td {
    border-color: #ccc;
    margin: 0 -1px -1px -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  body .ui-table .ui-table-tbody > tr:nth-child(2n) {
    background-color: #f5f5f5;
  }

  .ui-paginator-bottom {
    float: right;
    font-size: 11px !important;
  }

  .ui-paginator-bottom a {
    font-size: 11px;
  }

  body .ui-paginator {
    background-color: #fff;
    margin: 4px 0;
    border: none;
  }

  .ui-table-wrapper {
    width: 100%;
    clear: both;
  }

  .ui-table table {
    margin: 0;
  }

  body .ui-table .ui-table-summary {
    font-size: 11px;
    float: left;
    border: none;
    background-color: #fff;
    color: #565656;
    font-weight: 400;
  }

  body .ui-paginator.ui-paginator-bottom .ui-paginator-pages {
    padding: 0;
    margin-right: 2px;
  }

  .ui-paginator .ui-paginator-current {
    margin: 0;
    margin-left: 1em;
    margin-right: 3px;
  }

  body .ui-paginator .ui-dropdown {
    height: auto !important;
  }

  body .ui-paginator .ui-paginator-first,
  body .ui-paginator .ui-paginator-prev,
  body .ui-paginator .ui-paginator-next,
  body .ui-paginator .ui-paginator-last {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 1.8em;
    width: 1.8em;
    line-height: 1.8em;
    margin-right: 2px;
    color: #333;
  }

  body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    height: 1.8em;
    min-width: 1.8em;
    line-height: 1.8em;
    border-radius: 3px;
  }

  body .ui-paginator .ui-dropdown .ui-dropdown-label {
    border: 1px solid #ccc !important;
    font-size: 11px;
    line-height: 16px;
    height: 24px;
  }

  body .ui-paginator .ui-dropdown .ui-dropdown-trigger {
    width: 0;
    right: 10px;
    font-size: 10px;
    top: -1px;
  }

  .ui-paginator .ui-dropdown-panel .ui-dropdown-items {
    font-size: 11px;
    position: absolute;
    bottom: 20px;
  }

  body .ui-paginator.ui-paginator-bottom .ui-paginator-pages .ui-paginator-page {
    padding: 0.45em 0;
  }

  body .ui-paginator.ui-paginator-bottom .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #007cbb;
    border-color: #007cbb;
    color: #fff;
  }

  .ui-table {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }

  .ui-table::after {
    clear: both;
    content: '';
    display: block;
  }

  body .ui-paginator.ui-paginator-bottom .ui-paginator-pages .ui-paginator-page {
    border: 1px solid #ccc;
    width: 1.8em;
    height: 1.8em;
    line-height: 0.8em;
    border-radius: 3px;
    color: #565656;
    background-color: #fff;
    margin: 0 1px;
  }

  .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
    margin-top: -8px;
    top: 25% !important;
    position: relative !important;
  }

  body .select_footer_grid .ui-dropdown {
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .select_footer_grid .ui-dropdown label.ui-dropdown-label {
    font-size: 11px;
    line-height: 18px;
    padding: 0;
    padding-right: 1em;
    padding-left: 5px;
    height: 18px;
  }

  .select_footer_grid .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
    font-size: 0.5em;
    margin-top: -3px;
  }

  body .select_footer_grid .ui-dropdown .ui-dropdown-trigger {
    width: 1em;
  }

  .ui-dropdown .ui-dropdown-clear-icon {
    display: none;
  }

  body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
    display: none;
  }

  body.dark_theme .ui-paginator-bottom .ui-dropdown {
    margin-top: 0;
  }

  .ui-dropdown-label-container {
    width: 38px;
  }

  .ui-inputwrapper-filled .ng-pristine .ng-valid .ng-star-inserted .ng-touched {
    border: unset !important;
  }
}
