<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-device-heading" jhiTranslate="quanlythietbiApp.device.home.createOrEditLabel">Create or edit a Device</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quanlythietbiApp.device.nameDevice" for="field_nameDevice">Name Device</label>
                    <input type="text" class="form-control" name="nameDevice" id="field_nameDevice"
                           formControlName="nameDevice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quanlythietbiApp.device.codeDevice" for="field_codeDevice">Code Device</label>
                    <input type="text" class="form-control" name="codeDevice" id="field_codeDevice"
                           formControlName="codeDevice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quanlythietbiApp.device.producer" for="field_producer">Producer</label>
                    <input type="text" class="form-control" name="producer" id="field_producer"
                           formControlName="producer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quanlythietbiApp.device.codeProducer" for="field_codeProducer">Code Producer</label>
                    <input type="text" class="form-control" name="codeProducer" id="field_codeProducer"
                           formControlName="codeProducer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quanlythietbiApp.device.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quanlythietbiApp.device.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quanlythietbiApp.device.startDateIm" for="field_startDateIm">Start Date Im</label>
                    <div class="d-flex">
                        <input id="field_startDateIm" type="datetime-local" class="form-control" name="startDateIm" formControlName="startDateIm" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="quanlythietbiApp.device.startUserUse" for="field_startUserUse">Start User Use</label>
                    <div class="d-flex">
                        <input id="field_startUserUse" type="datetime-local" class="form-control" name="startUserUse" formControlName="startUserUse" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
