<p-scrollPanel [style]="{height:'calc(100vh - 100px)'}">
    <div class="px-3 pt-3 pb-2 ">
        <div >
            <jhi-ta-table #suggestStationTable [contextMenuSelection]="contextMenuSelection">
                <p-table #dt class="table-cus"
                         [columns]="selectedColumns"
                         [value]="devices"
                         [paginator]="true"
                         [rows]="10"
                         [first]="0"
                         [(selection)]="selectedRow"
                         (onLazyLoad)="loadLazy($event)"
                         [totalRecords]="30"
                         [lazy]="true"
                         [lazyLoadOnInit]="false"
                         [(contextMenuSelection)]="contextMenuSelection"
                         [rowsPerPageOptions]="[5, 10, 15, 20, 25, 30]"
                         [contextMenu]="suggestStationTable.cm"
                         [paginatorDropdownAppendTo]="'body'"
                         scrollHeight="calc(100vh - 350px)">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width:50px">
                            <col style="width:80px">
                            <col *ngFor="let col of columns">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th rowspan="2" class="text-center">
                                <p-tableHeaderCheckbox #headerCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th rowspan="2" class="text-center">STT</th>
                            <th *ngFor="let col of columns" [pContextMenuRow]="" [ngClass]="col.classField"
                                [ngClass]="col.classField">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-list let-columns="columns" let-i="rowIndex" let-rowData>
                        <tr>
                            <td class="text-center">
                                <p-tableCheckbox [value]="list"></p-tableCheckbox>
                            </td>
                            <td class="text-center">{{i + 1}}</td>
                            <td #td *ngFor="let col of columns" [pContextMenuRow]="list[col.field]"
                                [pTooltip]="list[col.field]"
                                [tooltipDisabled]="suggestStationTable.isDisabledTooltip(td)">
                                {{list[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </jhi-ta-table>
        </div>
    </div>
</p-scrollPanel>
