$primary: #007cbb;
$primary-hover: #34aae5;
$primary-400: #34aae5;
$secondary: white;

$gray-700: #6d6d6d;
$gray-500: #848484;
$gray-410: #e1e1e1;
$gray-400: #ccc;
$gray-300: #d0d0d0;

ta-table {
  //tr:focus {
  //  outline: none;
  //}

  th .ui-dropdown {
    min-width: unset;
  }

  .dropdown-toggle::after {
    display: none;
  }

  p-sorticon {
    display: inline-block;
  }

  .header-inline table th {
    white-space: nowrap;
  }

  .ui-tooltip .ui-tooltip-text {
    display: block;
    word-wrap: break-word;
  }

  // checkbox style
  tr.ui-state-highlight {
    .ui-chkbox-box {
      &.ui-state-active,
      &.ui-state-active:focus {
        border-color: $secondary;
      }
    }
  }
}

ta-table.view-full table {
  td {
    word-break: break-word !important;
    white-space: pre-line !important;
  }
}

// style row hover
ta-table {
  table th {
    white-space: pre-wrap;
  }
  p-table:not(.no-hover) {
    .ui-table-tbody > tr:not(.ui-state-highlight):hover {
      background-color: $gray-410 !important;
    }
  }
}

// style frozen column

ta-table.frozen-column {
  //.ui-table {
  //  position: relative;
  //}

  .ui-table-wrapper {
    //border-left: 1px solid $gray-400;
    border-right: 1px solid $gray-400;

    table {
      .ui-chkbox-box {
        width: 19px;
        height: 19px;
      }
      //tr:last-child {
      //  .frozen-column {
      //    border-bottom-width: 1px;
      //  }
      //}

      .frozen-column {
        position: sticky;
        left: 0;
        margin: 0;
        top: auto;
        z-index: 1;
        box-shadow: 1px 0 0 0 $gray-400;
        //border-bottom-width: 0;
        //z-index: 1;
        //display: flex;
        //align-items: center;

        //&.frozen-align-center {
        //  justify-content: center;
        //  padding: 0;
        //}
        //
        &:first-child {
          box-shadow: 1px 0 0 0 $gray-400, -1px 0 0 #ccc;
        }
      }
    }
  }
}
